In [1]:
print("This is my first python program")

This is my first python program

In [2]:
# print "This is my first python program"  This syntax is correct for 2.x

In [3]:
"""This is a
multiple line comment
in python..
This is very
very cool """

'This is a\nmultiple line comment\nin python..\nThis is very\nvery cool '

### Variables

In [4]:
# Variables are storage of data

In [5]:
a = 10

In [6]:
a

10

In [7]:
type(a)

int

In [8]:
a = 2 + 3j

In [9]:
a  # now (2+3j) overwrites a = 10

(2+3j)

In [10]:
type(a)

complex

In [11]:
b = "shubham"

In [12]:
b

'shubham'

In [13]:
b = '"shubham"'

In [14]:
b

'"shubham"'

In [15]:
c = '128 shubham tiwari'

In [16]:
type(c)

str

In [19]:
print(a,b,"This is my name") # multiple outputs in a single line

(2+3j) "shubham" This is my name

In [20]:
print(a,"shubham",c)

(2+3j) shubham 128 shubham tiwari

In [24]:
# multiple inputs in a single line

a,b,c = 10, 45, "2809"

In [25]:
a

10

In [26]:
b

45

In [27]:
c

'2809'

In [28]:
a,b,c  # this is going to return the output in the form of tuples

(10, 45, '2809')

In [30]:
d = a,b,c

In [31]:
type(d)

tuple

In [33]:
first_name = "shubham"
last_name = " Tiwari"
full_name = first_name + last_name
full_name

'shubham Tiwari'

In [35]:
_name = "shubham"

In [36]:
_name  # we can use (_)

'shubham'

In [37]:
a = 0.38

In [38]:
type(a)

float

In [39]:
# boolean variables

a = True
b = False

In [42]:
c = a,b

In [43]:
type(c)

tuple

In [44]:
type(a)

bool

In [45]:
type(b)

bool

In [46]:
a = True + True - False

In [47]:
a

2

In [48]:
b = False - True - False - True

In [49]:
b

-2

In [50]:
int(True)

1

In [51]:
int(False)

0

In [53]:
# True/False --> Zero divison error

In [55]:
(True * True) + (True * True) - (False * True)

2

In [56]:
# complex number

a = (2+3j)  # j is the only notation in python for representing a complex number

In [58]:
b = a+2

In [61]:
c = b + 6j

In [62]:
c

(4+9j)

In [63]:
c * 2

(8+18j)

In [65]:
a + b

(6+6j)

In [67]:
a.real

2.0

In [68]:
a.imag

3.0

In [73]:
a - c

(-2-6j)

In [74]:
a * c

(-19+30j)

In [75]:
a

(2+3j)

In [76]:
c

(4+9j)

In [77]:
# 1 + "sudh" different data types

In [78]:
"1" + "sudh"  # string concatenation

'1sudh'

In [79]:
2 * "sudh"

'sudhsudh'

In [80]:
# type casting --> converting one data type into another data type

In [82]:
str(1) + "sudh"

'1sudh'

In [83]:
"1" + "1"

'11'

In [84]:
1 + 1.0 # why 2.0 ?? because floating point occupies more space compare to int data type
# This is type casting

2.0

In [85]:
# subtraction and division will not work incase of string

In [87]:
# "shubham" * "shubham" # Type error

In [89]:
int(2.8)

2

In [92]:
# input from the user

a = input("Enter a number: ")

Enter a number: 10

In [94]:
type(a)

str

In [96]:
int(a)

10

In [97]:
# or we can directly convert into integer using int there itself

In [98]:
a = int(input('Enter a number: '))

Enter a number: 10

In [99]:
a

10

In [108]:
a = int(input('Enter first number: '))
b = int(input('Enter second number: '))
c = int(input('Enter third number: '))

o = a + b/c

o1 = o + (78 + 6j)

ss = str(o1) + " shubham"

ss

Enter first number: 45
Enter second number: 454
Enter third number: 454

'(124+6j) shubham'

In [104]:
# 11.0 + (10 + 2j)  so, 11.0 + 10 --> 21 and not 21.0

In [107]:
# int(21+2j) cannot convert complex into int

In [112]:
45 + 454/454 + (78+6j)

(124+6j)

In [113]:
# Decision making statements

In [117]:
a = int(input('Enter a number less than 34: '))

if a < 34:
    print('okk, The number is less than 34')
elif a==34:
    print('The number is 34')
else:
    print('The number is not less than 34')

Enter a number less than 34: 10
okk, The number is less than 34

In [118]:
if a<34:
    pass
# To avoid error we can use pass keyword

In [121]:
option = input('Choose an option A,B,C or D: ')

if option == 'A':
    print('Python')
elif option == 'B':
    print('C++')
elif option == 'C':
    print('Java')
else:
    print('php')

Choose an option A,B,C or D: D
php

In [123]:
a = int(input('Enter a number lesser than 34: '))

if a<34:
    print('less than 34')
print('Hello shubham')  # this is a seperate statement...

Enter a number lesser than 34: 23
less than 34
Hello shubham

In [128]:
salary = int(input('Enter your salary: '))

if salary > 1000:
    print('I will buy a car')
elif (salary > 500) and (salary <= 1000):
    print('I willl buy a bike')
elif (salary > 100) and (salary <= 500):
    print('I will buy books')
else:
    print('I will go for saving')

Enter your salary: 1000
I willl buy a bike

In [151]:
# nested statement

salary = int(input('Enter your salary: '))

if salary > 1000:
    print('Your salary is good')
    if (salary > 2000) and (salary <= 5000):
        print('I will buy a nano')
        
        if True:
            print('Hello world')
    elif (salary>5000) and (salary<=10000):
        print('I will buy a maruti')
        if (salary>=5000) and (salary<=6000):
            
            print('WoW')
        else:
            print('oh no!!')
    elif (salary>10000):
        print('I will buy a Toyota')
    else:
        print('I will rent a car')
elif salary > 500 and (salary <= 1000):
    print('I will buy a bike')
elif (salary > 100) and (salary <= 500):
    print('I will buy a book')
else:
    print('I will save money')

Enter your salary: 7000
Your salary is good
I will buy a maruti
oh no!!

In [152]:
a = 45<34

In [154]:
if a==False:
    print('This is also True')

This is also True

In [150]:
"""
Conclusion:-
print statement, type statement, input statement, variables and datatypes, concatination, typecasting(one data type into another), upcasting, pass keyword,
single line and multiline statements, if/elif/else statement, nested statement, 
"""

'\nConclusion:-\nprint statement, type statement, input statement, variables and datatypes, concatination, typecasting(one data type into another), upcasting, pass keyword,\nsingle line and multiline statements, if/elif/else statement, nested statement\n'

### While and For loop